name: Update RSS
on:
  schedule:
    - cron: '*/15 * * * *'  # alle 15 Minuten
  workflow_dispatch:
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: curl "https://reederapp.net/fv-EicT8SqiraESmO1YElA.json" > reeder-feed.json
    - run: |
        python3 -c "
        import json, xml.etree.ElementTree as ET, xml.dom.minidom as minidom
        data = json.load(open('reeder-feed.json'))
        rss = ET.Element('rss', version='2.0')
        rss.set('xmlns:itunes', 'http://www.itunes.com/dtds/podcast-1.0.dtd')
        ch = ET.SubElement(rss, 'channel')
        ET.SubElement(ch, 'title').text = data.get('title', 'Republik')
        for item in data.get('items', [])[:20]:
            e = ET.SubElement(ch
